.projects-container {
  margin-top: 60px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-container {
  text-align: center;
}

.projects-container h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.1em solid #333;
  animation: typing_projects 0.5s steps(80, end), blink-caret_projects 0.5s step-end infinite;
  margin: 0 auto; 
  display: inline-block; 
}

.projects-grid {
  opacity: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 50px;
  column-gap: 50px;
  justify-items: center;
  padding: 50px;
  transition: opacity 0.5s ease-in-out;
  margin-bottom: 230px;
}

.projects-grid.show {
  opacity: 1;
}

.project-section {
  background-color: white;
  padding: 20px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  border: 2px solid #e0e0e0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease, opacity 0.3s ease, border-color 0.3s, color 0.3s;
}

.project-section.show {
  opacity: 1;
  transform: translateY(0);
}

.project-section:hover {
  transform: scale(1.07);
  border-color: black;
  color: black;
  transition: transform 0.3s ease; /* Ensure smooth transition on hover */
  box-shadow: 10px 10px black ;
  
 }

 .project-section:hover p {
  border: 1.5px solid black;
}


.project-section h4 {
  padding-bottom: 9px;
}

.project-section p {
  border: 1.5px solid #e0e0e0;
  padding: 10px;
}

.project-section ul {
  list-style-type: none;
  padding-left: 0;
  position: relative;
  margin-top: 20px;
}

.project-section li {
  font-family: 'Courier New', Courier, monospace;
  margin: 5px 0;
  display: flex;
  align-items: center;
  background-color: white;
}

.project-section li:hover {
  color: gray;
}

.project-section li svg {
  margin-right: 8px; /* Adds space between the icon and text */
}

@keyframes typing_projects {
  from { width: 0; }
  to { width: 17%; } /* Adjust width as needed */
}

@keyframes blink-caret_projects {
  from, to { border-color: transparent; }
  50% { border-color: #333; }
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.projects-grid.show .project-section:nth-child(1) {
  animation: slide-in 0.3s forwards;
  animation-delay: 0.3s;
}

.projects-grid.show .project-section:nth-child(2) {
  animation: slide-in 0.3s forwards;
  animation-delay: 0.6s;
}

.projects-grid.show .project-section:nth-child(3) {
  animation: slide-in 0.3s forwards;
  animation-delay: 0.9s;
}

.projects-grid.show .project-section:nth-child(4) {
  animation: slide-in 0.3s forwards;
  animation-delay: 1.2s;
}

.projects-grid.show .project-section:nth-child(5) {
  animation: slide-in 0.3s forwards;
  animation-delay: 1.5s;
}

.projects-grid.show .project-section:nth-child(6) {
  animation: slide-in 0.3s forwards;
  animation-delay: 1.8s;
}
