/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333; /* Dark text color */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Hero Section */
.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  padding: 20px;
  color: #333;
  text-align: center;
  margin-top: 60px; /* Space for navbar */
}

/* Intro Name */
.intro-name {
  animation: fadeIn 2s ease-out;
  margin-bottom: 20px;
}

.h1-there, .h1-name, .h1-position {
  opacity: 0;
  animation: fadeInText 1s forwards;
}

.h1-there {
  animation-delay: 0s;
  font-size: 2rem;
}

.h1-name {
  animation-delay: 0.5s;
  font-size: 2.5rem;
}

.h1-position {
  animation-delay: 1s;
  font-size: 1.5rem;
}

.h1-name strong {
  color: #000; /* Black color for name */
  font-size: 3rem;
  font-weight: bold;
}

.intro-know-more {
  position: relative;
  top: 20px;
  opacity: 0;
  animation: fadeInText1 1s forwards;
  animation-delay: 1.5s;
}

.intro-know-more button {
  font-size: large;
  background-color: #464b47; /* Dark background */
  color: white; /* White text */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition for background color and transform */
}

.intro-know-more button:hover {
  background-color: #333; /* Darker background on hover */
  transform: scale(1.05); /* Slightly increase the size on hover */
}

/* Intro Image */
.intro-image {
  margin-top: 20px;
  border: 5px solid #333;
  overflow: hidden;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}

.intro-image img {
  width: 200px; /* Larger size */
  height: 200px; /* Maintain square aspect ratio */
  object-fit: cover;
}

.intro-image:hover {
  transform: scale(1.2);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}

/* Responsive Design */
@media (min-width: 768px) {
  .intro-section {
    flex-direction: row;
    text-align: left;
    margin-top: 80px; /* Space for navbar */
  }

  .intro-name {
    margin-right: 40px;
    margin-bottom: 0; /* Remove bottom margin for larger screens */
  }

  .h1-there, .h1-name, .h1-position {
    font-size: 2.5rem;
  }

  .h1-name strong {
    font-size: 3.5rem;
  }

  .intro-image img {
    width: 250px; /* Larger size for bigger screens */
    height: 250px;
  }

  .contact-icons-container {
    position: relative;
    bottom: 0; /* Adjust for larger screens */
  }
}

@media (max-width: 767px) {

  .intro-section {
    display: flex;
    text-align: center;
    padding: 10px;
    height: auto;
    margin-top: 60px; /* Space for navbar */
  }

  .intro-name {
    margin-bottom: 20px;
  }

  .h1-there, .h1-name, .h1-position {
    font-size: 1.2rem;
  }

  .h1-name strong {
    font-size: 1.4rem;
  }

  .intro-image {
    position: relative;
    top: 20px;
    margin-top: 20px; /* Reduce margin for smaller screens */
  }

  .intro-image img {
    width: 150px; /* Smaller size for smaller screens */
    height: 150px;
  }

  .intro-know-more {
    top: 20px; /* Adjust top position for smaller screens */
  }

  .intro-know-more button {
    font-size: small;
    padding: 8px 16px;
  }

  .contact-icons {
    flex-direction: row;
    gap: 10px;
  }

  .contact-icons-container {
    margin-top: 200px; /* Ensure icons are below the image */
  }
}

/* Animations */
@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInText1 {
  from {
    opacity: 0;
    transform: translate(0);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
