/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333; /* Dark text color */
}

/* Hero Section */
.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  color: #333;
  text-align: center;
}

/* Intro Name */
.intro-name {
  animation: fadeIn 2s ease-out;
}

.h1-there, .h1-name, .h1-position {
  opacity: 0;
  animation: fadeInText 1s forwards;
}

.h1-there {
  animation-delay: 0s;
}

.h1-name {
  animation-delay: 0.5s;
}

.h1-position {
  animation-delay: 1s;
}

.h1-name strong {
  color: #000; /* Black color for name */
  font-size: 3rem;
  font-weight: bold;
}

.intro-know-more {
  position: relative;
  top: 30px;
  opacity: 0;
  animation: fadeInText1 1s forwards;
  animation-delay: 1.5s;
}

.intro-know-more button {
  font-size: large;
  background-color: #464b47; /* Dark background */
  color: white; /* White text */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition for background color and transform */
}

.intro-know-more button:hover {
  background-color: #333; /* Darker background on hover */
  transform: scale(1.05); /* Slightly increase the size on hover */
}

/* Intro Image */
.intro-image {
  margin-top: 20px;
  border: 5px solid #333;
  overflow: hidden;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.intro-image img {
  width: 200px; /* Larger size */
  height: 200px; /* Maintain square aspect ratio */
  object-fit: cover;
}

.intro-image:hover {
  transform: scale(1.2);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}

/* Contact Icons */
.contact-icons-container {
  text-align: center;
  position: relative;
  bottom: 100px;
  opacity: 0;
}

.contact-icons-container.slide-in {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-icons a {
  color: #333;
  transition: color 0.3s, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-100%);
}

.contact-icons a:nth-child(1).slide-in {
  animation: slide-in 0.3s forwards;
  animation-delay: 0.3s;
}

.contact-icons a:nth-child(2).slide-in {
  animation: slide-in 0.3s forwards;
  animation-delay: 0.6s;
}

.contact-icons a:hover {
  color: gray; 
  transform: scale(0.2); 
}

/* Responsive Design */
@media (min-width: 768px) {
  .intro-section {
    flex-direction: row;
    text-align: left;
  }

  .intro-name {
    margin-right: 40px;
  }

  .h1-there, .h1-name, .h1-position {
    font-size: 2.5rem;
  }

  .h1-name strong {
    font-size: 3.5rem;
  }

  .intro-image img {
    width: 250px; /* Larger size for bigger screens */
    height: 250px;
  }
}

/* Animations */
@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInText1 {
  from {
    opacity: 0;
    transform: translate(0);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
