/* src/components/NavBar/NavBar.css */

.navbar {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-out {
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
}

.nav-contents-ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  
}

.nav-contents-li {
  cursor: pointer;
}

.nav-contents-li:hover {
  text-decoration: underline;
}
