.contact-me-container {
  display: flex;
  align-items: center;
  padding: 40px 20px;
  color: #333;
  min-height: 100vh;
  flex-direction: column;
  margin-top: 40px;
}

form {
  background: #fff;
  padding: 30px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px; 
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.5s;
  border: 2px solid #e0e0e0;
  transition: transform 0.3s ease, opacity 0.3s ease, border-color 0.3s, color 0.3s, box-shadow 0.3s;
}

form.fade-in {
  opacity: 1;
}

form:hover{
  box-shadow: 5px 5px black;
  border: 2px solid black;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #333;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  border-color: 2px solid black;
  outline: none;
  transform: scale(1.02);
}

button {
  background-color: #464b47;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #333;
}

.lets-connect {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.h2-lets-connect {
  font-size: 2.5em;
  font-weight: bold;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.1em solid #333; /* Corrected border-right property */
  animation: typing1 0.5s steps(70, end), blink-caret1 0.5s step-end infinite;
}
.mail{
  position: relative;
  top: 50px;
}

@keyframes typing1 {
  from { width: 0; }
  to { width: 22%; } /* Adjust width as needed */
}

@keyframes blink-caret1 {
  from, to { border-color: transparent; }
  50% { border-color: #333; }
}
