.about-me-container {
  padding: 60px 20px 40px; /* Adjust top padding to account for fixed navbar */
 
  color: #333;
}

.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  margin-top: 20px;
}

.typing {
  font-size: 2.5em;
  font-weight: bold;
  color: #333;
  white-space: nowrap; 
  overflow: hidden; /* Hides the overflowing text */
  border-right: 0.1em solid #333; /* Creates a caret */
  animation: typing 1s steps(100, start), blink-caret 0.5s step-start infinite;
}

.about-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  opacity: 0;
  animation: fadeInText1 1s forwards;
  animation-delay: 1s;
}

.about-me-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.text-content {
  flex: 1;
  font-size: 1.2em;
  line-height: 1.6;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-1 {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive design for smaller screens */
/* @media (max-width: 768px) {
  .about-me-section {
    flex-direction: column;
    align-items: center;
  }

  .text-content, .image-content {
    width: 100%;
  }

  .typing {
    font-size: 2em;
  }
} */

@keyframes typing {
  from { width: 0; }
  to { width: 40%; } 
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #333; }
}

@keyframes fadeInText1 {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
